html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Rokkitt', serif;
    font-size: 1.2rem;
    line-height: 1.5;
    background-image: linear-gradient(to bottom, rgb(0, 255, 225), rgb(0, 76, 123));    
    color: white;
}
h1, h2, h3 {
    font-weight: 700;
    color: rgb(85, 177, 183);
} 
header {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}
header h1 {
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 -2px 8px rgb(19, 74, 115);
    color: rgb(109, 187, 246);
    margin: 0 0 -5rem 0;
    z-index:10;

}
a {
    color: rgb(93, 250, 255);
}
a:visited {
    color: rgb(0, 65, 135);
}
.transparent {
    background-image:linear-gradient(to bottom,rgba(255, 145, 0, 0.867), rgb(112, 67, 0));
}
a:hover, a:active {
    color: #a3f3ff;
    text-decoration: none;
}
.base-bg {
    background-color: rgb(255, 236, 185);
    background-image: linear-gradient(to bottom, rgb(51, 127, 148), rgb(0, 43, 55));    
    color: rgb(246, 226, 218);
    padding: 1rem;
}

    .Center {
        display:grid;
        grid-template-columns: 1fr;
        text-align: center;
        
    }
.col-2,
.col-3 {
    display: grid;
    grid-template-columns: 1fr;
}


/****** standard IMG *********/
.col-1 {
    display:flex;
    flex-flow:row wrap;
    justify-content:space-evenly;
}
img {
     max-width: 100%;
     height: auto;
}
figure {
    margin:0;
}
figure img {
    display:block;
}
footer {
    color: rgb(0, 41, 61);
    padding: 1rem;
}
footer ul{
    list-style: none;
}
a, footer a {
    color: rgb(0, 41, 61);
    text-decoration:none;
}
footer a {
    line-height: 1.5;
}
footer a:visited {
    color: rgb(0, 183, 255);
}
footer a:active, .footer a:hover {
    text-decoration: none;
}
blockquote {
    background-color: rgba(0,0,0, 0.5);
    padding:1rem;
}
.copy {
    text-align: center;
}
/* ******** 48rem ********* */
@media screen and (min-width:37.5rem) and (max-width:48rem) {
        .Center {
        grid-template-columns: 1fr;
        text-align: center;
        
    }
        .col-2 {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .col-3 {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        row-gap: 1rem;
    }
    header h1 {
        margin: 0 0 -5rem 0;
    }
}
@media screen and (min-width:48rem) {
    .Center {
        grid-template-columns: 1fr;
        text-align: center;
        
    }
    .col-2 {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .col-3 {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        row-gap: 1rem;
    }
    header h1 {
        margin: 0 0 -5rem 0;
    }
}
@media screen and (min-width:60rem) {
        .Center {
        grid-template-columns: 1fr;
        text-align: center;
        
    }
    .col-3 {
        gap: 1rem;
        row-gap: 1rem;
    }
    .col-21 {
        grid-template-columns: 2fr 1fr;
        gap:2rem
    }

}
@media screen and (min-width:80rem) {
        .Center {
        grid-template-columns: 1fr;
        text-align: center;
        
    }
    body {
        font-size: 1.4rem;
    }
    .container {
        align-items:center;
        text-align:center;
        max-width: 80rem;
        margin: 0 auto;
    }
    header h1 {
        font-size: 6rem;
    }
}
@media screen and (min-width:100rem) {
    .container {
        align-items:center;
        text-align:center;
        max-width: 90rem;
    }
        .Center {
        grid-template-columns: 1fr;
        text-align: center;
        
    }
}